* {box-sizing: border-box;}
body { 
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color:#ffffff;
}
li, a {
	font-family: "montserrat", sans-serif;
	font-weight: 500;
	font-size: 15px;
	color: #24252a;
	text-decoration: none;
}
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 100px;
	height: 80px;
	background-color:#20D300;
	border-bottom: 1px solid #008800;
}
.logo{
	cursor: pointer;
}
.nav_links{
	list-style: none;
	background-color:#20D300;
	color:#ffffff;
}
.nav_links li {
	display: inline-block;
	padding: 0px 10px;
	color:#ffffff;
	
}
.nav_links li a {
	transition: all 0.3s ease 0s;
	color:#ffffff;
}
.nav_links li a:hover {
	color: #0088a9;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}
/* Modal Content/Box */
.modal-content {
    background-color: #222224;
	background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 60%; /* Could be more or less, depending on screen size */
	padding-left:7%;
}
.container{
	width:40%;
	height:40%;
	background-color:#cdcdcd;
	margin-left:30%;
	border-radius:10px;
	text-align:center;
}
input[type=submit]
{
	background-color:#cdcdcd;
	width:100;
	height:30;
}

button {
    background-color: #FF0000;
    color: white;
    margin-left:1%;
	margin-top:0.5%;
	margin-bottom:0.5%;
    border: none;
	border-radius:7px 7px 7px 7px;
    width: 10%;
	float: left; 
	height: 30%;
	pointer: cursor;
	padding: 5px;
}
button:hover {
    opacity: 0.8;
}
table {
  border-collapse: collapse;
  width: 99%;
  margin:0.5%;
  height: 60%;
 
}

th, td {
  text-align: center;
  font-size:15;
  padding-left:1%;

}

tr:nth-child(even){background-color: #E6E6E6}

th {
  background-color: #000044;
  color: white;
}

h6{
	text-align:center;
	color:#ffffff;
	margin-left: 5%;
}
h1{
	text-align:center;
	color:#008900;
	margin-left: 1%;
	font-size:50;
}
h2{
	text-align:center;
	color:#24252A;
	font-size:23;
	border-radius: 5px 5px 0px 0px;
}
h4{
	color:#ffffff;
	margin-right:50px;
}
#kanan{
	margin-left: 2%;
	margin-top: 2%;
	float: left;
	width:95%;
	height:35%;
	background-color: #FFFFFF;
	border: 1px solid #e6e6e6;
	border-radius: 10px 10px 10px 10px;
}
#jeruh{
	margin-top: 1%;
	margin-left: 2%;
	float: left;
	width:95%;
	height:20%;
}
#kaki{
	height:95;
	font-size:20;
	color:#00ff00;
	margin-top:1%;
	background-color: #24252A;
	vertical-align:bottom;
	padding: 5px 10px;
	float:none;
}
#aurat{
	margin-top:30.1%;
		background-color:#24252A;
		height:25;
		margin-bottom:1%;
}
@media screen and (max-width: 750px) {
#kepala{
	height:65;
}
img{
	width:50;
	height:50;
}
#mata{
	height:55;
	width:55;
}
#hidung{
	height:30;
	padding: 1px 3px;
}
#mulut{
	height:25;
}
#tangan{
	height:25;
	margin-bottom:1%;
}
#kanan{
	margin-left: 2%;
	margin-top: 2%;
	float: left;
	width:60%;
	height:10%;
	background-color: #FFFFFF;
	border: 1px solid #e6e6e6;
}
#aurat{
	background-color:#009988;
	height:25;
	margin-top:50%;
}
#kaki{
	height:55;
	font-size:12;
	text-align:center;
	margin-top:10%;
	color:#ffffff;
}
input[type=text]
{
	width:200;
	height:14;
	border-radius: 5px 5px 5px 5px;
	
}
input[type=password]
{
	width:200;
	height:20;
	border-radius: 5px 5px 5px 5px;
	
}
input[type=submit]
{
	width:200;
	height:20;
	border: none;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	border-radius: 2px 2px 2px 2px;
	background-color: #00ff00;
	color:#003300;
	float:left;
	margin-left:1%;
}
fieldset{
	width:150;
	height:150;
	border:1;
	border-color:#ffff00;
	border-radius: 3px 3px 3px 3px;
}
legend{
	color:#00ff00;
	width:80;
	background-color:#389B00;
	margin-left:5;
	margin-top:10;
	text-align:center;
}
#awak{
	margin-left: 20%;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	width:60%;
	height:150%;
	text-align: center;
	border-radius: 5px 5px 5px 5px;
}



